*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

::-webkit-scrollbar{
    display: none;
}
body{
    background-color: #111;
    color: #f9f9f9;
}

.heading{
    font-size: 4vh;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    color: aliceblue;
}
/* .heading:hover{
    font-size: 5vh;
} */
.navbar{
    opacity: 0.9;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    cursor: pointer;
    background-color:rgb(0, 0, 0);
    }

.btn{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0px;
}


.btn > a > button{
    width: 100px;
    padding: 6px;
    border: none;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 5px;
    font-size: 2.4vh;
    background-color: antiquewhite;
    transition-duration: .5s;
}

.btn > a > button:hover{
    background-color: rgb(0, 140, 255);
    color: rgb(0, 0, 0);
}


#image{
    width: 75px;
    margin: 10px;
    border-radius: 40px;
}

#cheatbody{
    display: block;
    width:85%;
    margin: 0 auto;
    font-weight: bolder;
    /* text-transform: ; */
    /* text-align: center; */
}

#cheat-content{
    margin-top: 10px;
}

.code{
    margin: 10px;
    font-size: 3vh;
}

div.code-toolbar > .toolbar > .toolbar-item > a, div.code-toolbar > .toolbar > .toolbar-item > button, div.code-toolbar > .toolbar > .toolbar-item > span {
    /* color: #bbb; */
    /* font-size: .8em; */
    /* padding: 0 .5em; */
    /* padding-top: 5px; */
    background: #f5f2f0;
    background: rgba(224, 224, 224, 0.2);
    font-size: 2.3vh;
    /* box-shadow: 0 2px 0 0 rgb(0 0 0 / 20%); */
    /* border-radius: .5em; */
}
div.code-toolbar > .toolbar > .toolbar-item > button {
    /* background: none; */
    border: 0;
    /* color: inherit; */
    color: #fff;
    font-weight: bolder;
    /* text-transform: uppercase; */
    font: inherit;
    font-size: 1.5vh;
    line-height: normal;
    overflow: visible;
    /* padding: 0; */
    padding-top: 0.9;
    padding-bottom: 0.9;
    margin-top: 1px;
    margin-left: 5px;
    /* -webkit-user-select: none; */
    /* -moz-user-select: none;
    -ms-user-select: none; */
}

div.code-toolbar > .toolbar > .toolbar-item > a, div.code-toolbar > .toolbar > .toolbar-item > button, div.code-toolbar > .toolbar > .toolbar-item > span {
    color: #bbb;
    font-size: .8em;
    /* padding: 0 .3em; */
    background: #f5f2f0;
    background: rgba(224, 224, 224, 0.2);
    box-shadow: 0 2px 0 0 rgb(0 0 0 / 20%);
    border-radius: .5em;
    padding: 1.5vh;
    /* padding-top: 2px; 
    margin-top: 1vh; */
}



p{
    font-size: 2.7vh;
    /* letter-spacing: 1px; */
}